.icon-fsee, .icon-fsee-sm {
	display: inline-block;
	vertical-align: middle;

	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-pixelated;
	image-rendering: crisp-edges;
}
.icon-fsee {
	width: 32px;
	height: 32px;
	background-size: 32px;
}
.icon-fsee-sm {
	width: 16px;
	height: 16px;
	background-size: 16px;
}

.icon-fsee-pixie-dust {background-image: url(../assets/items/pixie_dust.png);}
.icon-fsee-cursed-tome {background-image: url(../assets/items/cursed_tome.png);}
.icon-fsee-ancient-wooden-sword {background-image: url(../assets/items/ancient_wooden_sword.png);}
.icon-fsee-ender-insignia {background-image: url(../assets/items/ender_insignia.png);}
.icon-fsee-ender-sigil {background-image: url(../assets/items/ender_sigil.png);}
.icon-fsee-dragonblade {background-image: url(../assets/items/dragonblade.png);}
.icon-fsee-book-of-light {background-image: url(../assets/items/book_of_light.png);}
.icon-fsee-book-of-updraft {background-image: url(../assets/items/book_of_updraft.png);}
.icon-fsee-book-of-conveynace {background-image: url(../assets/items/book_of_conveyance.png);}
.icon-fsee-sariel {background-image: url(../assets/items/sariel.png);}
.icon-fsee-sabrewing {background-image: url(../assets/items/sabrewing.png);}
.icon-fsee-sharanga {background-image: url(../assets/items/sharanga.png);}
.icon-fsee-duskberry {background-image: url(../assets/items/duskberry.png);}
.icon-fsee-duskberry-old {background-image: url(../assets/items/duskberry-old.png);}
.icon-fsee-clockwork-crossbow {background-image: url(../assets/items/clockwork_crossbow.png);}
.icon-fsee-prismatic-pearl {background-image: url(../assets/items/prismatic_pearl.gif);}
.icon-fsee-prismatic-punch {background-image: url(../assets/items/prismatic_punch.png);}
.icon-fsee-spirit-dagger {background-image: url(../assets/items/spirit_dagger.png);}
.icon-fsee-living-flesh {background-image: url(../assets/items/living_flesh.png);}
.icon-fsee-zephyr {background-image: url(../assets/items/zephyr.png);}
.icon-fsee-battlestick {background-image: url(../assets/items/battlestick.png);}
.icon-fsee-ancient-armor {background-image: url(../assets/armor/ancient/chestplate.png);}
.icon-fsee-hallowed-armor {background-image: url(../assets/armor/hallowed/chestplate.png);}
.icon-fsee-shulker-armor {background-image: url(../assets/armor/shulker/chestplate.png);}
.icon-fsee-pandoras-barrel {background-image: url(../assets/items/pandoras_barrel.png);}
