body, html {
	height: 100%;
	background-color: rgb(31, 31, 31);
}


.hr {
	height: 11%; 
	background-image: url(../assets/hr.png);
	background-repeat: repeat-x;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-size: 300%;
	font-family: 'MinecraftiaRegular';
	color: whitesmoke;
	text-align: center;
}

p {
	font-size: 125%;
	font-family: 'MinecraftiaRegular';
	color: whitesmoke;
}

hr {
	color: whitesmoke;
	margin: 10px;
}

.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
	.responsive {
	  width: 49.99999%;
	  margin: 6px 0;
	}
  }
  
  @media only screen and (max-width: 500px) {
	.responsive {
	  width: 100%;
	}
  }
  
  .clearfix:after {
	content: "";
	display: table;
	clear: both;
  }