@media screen and (max-width: 800px) {
	* {
		--button-padding: 2%;
		--button-font-size: 3vw;
	}
}
  
@media screen and (min-width: 800px) {
	* {
		--button-padding: 2%;
		--button-font-size: 1.7vw;
	}
}

body, html {
	height: 100%;
	background-color: rgb(31, 31, 31);
}


.hr {
	height: 11%; 
	background-image: url(../assets/hr.png);
	background-repeat: repeat-x;
	background-repeat: no-repeat;
	background-size: cover;
}

hr {
	color: whitesmoke;
	margin: 10px;
}

.fancy-button {
	display: inline-block;
	background-image: url(https://i.ibb.co/rb2TWXL/bgbtn.png);
	color: #FFFFFF;
	text-align: center;
	font-size: var(--button-font-size);
	font-family: 'MinecraftiaRegular'; 
	padding: var(--button-padding);
	padding-bottom: 0px;
	width: 95%;
	cursor: pointer;
	text-shadow: 4px 4px #4C4C4C;
	outline: 4px solid #000;
	margin: 1%;
	text-align: center;
	transition-duration: 0.33s;
	vertical-align: middle; 
	display: inline-block; 
}


.fancy-button:hover {
	outline: 4px solid white;
	color: white;
	scale: 1.1;
}

.fancy-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.4s;
}
