@media screen and (max-width: 800px) {
	* {
		--button-padding: 0%;
		--button-font-size: 7vw;

		--commitlist-width: 105%;
		--commitlist-height: 50%;
		--commitlist-offset: 0%;
		--commitlist-padding: 2.5%;
	}
}
  
@media screen and (min-width: 800px) {
	* {
		--button-padding: 0%;
		--button-font-size: 2.2vw;

		--commitlist-width: 66.666%;
		--commitlist-height: 66.666%;
		--commitlist-offset: 17.5%;
		--commitlist-padding: 5%;
	}
}

body, html {
	height: 100%;
	background-color: rgb(31, 31, 31);
	-ms-overflow-style: none; /* Hides scrollbar on Edge */
	scrollbar-width: none; /* Hides scrollbar on Firefox */

}

body::-webkit-scrollbar { /* Hides scrollbar on Chrome */
  display: none;
}


.hr {
	height: 11%; 
	background-image: url(../assets/hr.png);
	background-repeat: repeat-x;
	background-repeat: no-repeat;
	background-size: cover;
}

#commitlist {
	width: var(--commitlist-width);
	height: var(--commitlist-height);
	margin-left: var(--commitlist-offset);
	padding: var(--commitlist-padding);
	background-color: #636363;
	border-radius: 14px;
}

hr {
	color: whitesmoke;
	margin: 10px;
}

.fancy-button {
	display: inline-block;
	background-image: url(https://i.ibb.co/rb2TWXL/bgbtn.png);
	color: #FFFFFF;
	text-align: center;
	font-size: var(--button-font-size);
	font-family: 'AnimaticSC-Bold'; 
	padding: var(--button-padding);
	padding-bottom: 0px;
	width: 95%;
	cursor: pointer;
	text-shadow: 4px 4px #4C4C4C;
	outline: 4px solid #000;
	margin: 1%;
	text-align: center;
	transition-duration: 0.33s;
	vertical-align: middle; 
	display: inline-block; 
}


.fancy-button:hover {
	outline: 4px solid white;
	color: white;
	scale: 1.1;
}

.fancy-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.4s;
}
