@media screen and (max-width: 800px) {
	* {
		--h1-size: 400%;
		--h2-size: 300%;
		--p-size: 200%;
		--br-margin: 10px;
		--glow-size: 500%;
	}
}
  
@media screen and (min-width: 800px) {
	* {
		--h1-size: 600%;
		--h2-size: 400%;
		--p-size: 250%;
		--br-margin: 10px;
		--glow-size: 700%;
	}
}

@font-face {
	font-family: 'MinecraftiaRegular';
	src: url(../assets/fonts/Minecraftia-Regular.ttf);
}

@font-face {
	font-family: 'IllagerAlt';
	src: url(../assets/fonts/IllagerSmallOutline.ttf);
}

@font-face {
	font-family: 'AnimaticSC';
	src: url(../assets/fonts/AmaticSC.ttf);
}

@font-face {
	font-family: 'AnimaticSC-Bold';
	src: url(../assets/fonts/AmaticSC-Bold.ttf);
}

@font-face {
	font-family: 'Quicksand';
	src: url(../assets/fonts/Quicksand.ttf);
}

p, h1, h2, h3, h4, h5, h6, pre {
	font-family: 'AnimaticSC';
	color: whitesmoke;
	padding: 0;
}

h1 {
	font-size: var(--h1-size);
	text-align: center;
}

h2 {
	font-size: var(--h2-size);
	text-align: center;
}

p {
	font-size: var(--p-size);
}

hr {
	color: whitesmoke;
	margin: var(--br-margin);
}

.illageralt {
	font-family: 'IllagerAlt';
}

.minecraftia {
	font-family: 'MinecraftiaRegular';
}

.glow {
	font-size: var(--glow-size);
	font-family: 'AnimaticSC-Bold';
	color: white;
	animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}