@media screen and (max-width: 800px) {
	* {
		--h1-size: 400%;
		--h2-size: 300%;
		--h4-size: 300%;
		--h6-size: 200%;

		--p-size: 200%;

		--br-margin: 10px;

		--glow-size: 500%;

		--emoji-size: 150%;
	}
}
  
@media screen and (min-width: 800px) {
	* {
		--h1-size: 600%;
		--h2-size: 400%;
		--h4-size: 300%;
		--h6-size: 200%;

		--p-size: 250%;

		--br-margin: 10px;

		--glow-size: 700%;

		--emoji-size: 10%;
	}
}

/* Registering fonts */
@font-face {
	font-family: 'MinecraftiaRegular';
	src: url(../assets/fonts/Minecraftia-Regular.ttf);
}

@font-face {
	font-family: 'IllagerAlt';
	src: url(../assets/fonts/IllagerSmallOutline.ttf);
}

@font-face {
	font-family: 'AmaticSC';
	src: url(../assets/fonts/AmaticSC.ttf);
}

@font-face {
	font-family: 'AmaticSC-Bold';
	src: url(../assets/fonts/AmaticSC-Bold.ttf);
}

/* Global text formatting */

p, h1, h2, h3, h4, h5, h6, pre {
	color: whitesmoke;
	padding: 0;
}

h1 {
	font-size: var(--h1-size);
	text-align: center;
}

h2 {
	font-size: var(--h2-size);
	text-align: center;
}

h4 {
	font-size: var(--h4-size);
	text-align: center;
}

h6 {
	font-size: var(--h6-size);
	text-align: center;
}

p, pre {
	font-size: var(--p-size);
	font-family: 'AmaticSC';
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'AmaticSC-Bold';
}

hr {
	color: whitesmoke;
	margin: var(--br-margin);
}

/* Using special fonts for special objects */
.illageralt {
	font-family: 'IllagerAlt';
}

.minecraftia {
	font-family: 'MinecraftiaRegular';
}

/* Animated texts */
.glow {
	animation: glow-color-change 3s infinite linear;
}

@keyframes glow-color-change {
	0% { color: #C000D4; }
	16.5% { color: #E700FF; }
	33% { color: #F169FF; }
	49.5% { color: #f7b3ff; }
	66% { color: #F169FF; }
	82.5% { color: #E700FF; }
	100% { color: #C000D4; }
}

.rainbow {
	animation: rainbow-color-change 5s infinite linear;
}

@keyframes rainbow-color-change {
	0% { color: red; }
	14.5% { color: orange; }
	29% { color: yellow; }
	43.5% { color: lime; }
	58% { color: aqua; }
	72.5% { color: cornflowerblue; }
	87% { color: magenta; }
	100% { color: red; }
}

.fire {
	animation: fire-color-change 1.5s infinite linear;
}

@keyframes fire-color-change {
	0% { color: red; }
	50% { color: orange; }
	100% { color: red; }
}

.soulfire {
	animation: soulfire-color-change 1.5s infinite linear;
}

@keyframes soulfire-color-change {
	0% { color: blue; }
	50% { color: aqua; }
	100% { color: blue; }
}

.donator {
	animation: donator-color-change 4s infinite linear;
}

@keyframes donator-color-change {
	0% { color: #66a67b; }
	50% { color: #99D6AD; }
	100% { color: #66a67b; }
}

.danger {
	animation: danger-color-change 5s infinite linear;
}

@keyframes danger-color-change {
	0% { color: darkred; }
	50% { color: #FF5353; }
	100% { color: darkred; }
}

.warning {
	animation: warning-color-change 5s infinite linear;
}

@keyframes warning-color-change {
	0% { color: yellow; }
	50% { color: rgb(255, 248, 154); }
	100% { color: yellow; }
}

/* Hyperlinks formatting */
a {
	color: mediumvioletred; 
	text-decoration: none;
	position: relative;
	font-size: inherit;
}

/* Hover text for hyperlinks */
a[data-tip] {
	transition-duration: 0.2s;
}

a[data-tip]:after {
	position: absolute;
	width: 12em;
	background-color: #31052c;
	content: attr(data-tip);
	padding: 0.6em 0;
	color: whitesmoke;
	margin: auto;
	left: -4.5em;
	right: 0;
	bottom: 3em;
	text-align: center;
	border-radius: 0.2em;
}

a[data-tip]:before {
	position: absolute;
	content: "";
	height: 0;
	width: 0;
	border-top: 0.5em solid #31052c;
	border-left: 0.5em solid transparent;
	border-right: 0.5em solid transparent;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 2.6em
}

a[data-tip]:before, a[data-tip]:after {
	display: none;
}

a[data-tip]:hover:before, a[data-tip]:hover:after {
	display: block;
}

a[data-tip]:hover {
	color: palevioletred;
	transition-duration: 0.2s;
}
a[data-tip].fancy-button:hover {
	color: white;
	transition-duration: 0.2s;
}

/* Tweak Bootstrap carousels */
.carousel-item {
	font-family: 'AmaticSC-Bold';
}

/* Block CTRL A */
body {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none
}

/* Reduce Twemoji size */
img.emoji {
	height: 0.9em;
	width: 0.9em;
	margin: 0 .05em 0 .1em;
	vertical-align: -0.1em;
}

.fa-white {
	color: whitesmoke;
}