@media screen and (max-width: 800px) {
	* {
		--header-logo-text-width: 35%;
		--header-logo-text-height: 35%;
		--top-padding: 3%;
		--bottom-padding: 3%;
	}
}
  
@media screen and (min-width: 800px) {
	* {
		--header-logo-text-width: 15%;
		--header-logo-text-height: 15%;
		--top-padding: 1%;
		--bottom-padding: 1%;
	}
}

header {
	text-align: center;
	padding: var(--top-padding);
	background-color: black;
	color: white;
	z-index: 30;
}

header img {
	transition-duration: 0.5s;
}

header img:hover {
	scale: 1.1;
	transition-duration: 0.5s;
}

footer {
	text-align: center;
	padding: var(--bottom-padding);
	background-color: black;
	color: white;
	z-index: 30;
}

#logotext {
	width: var(--header-logo-text-width);
	height:  var(--header-logo-text-height);
}
