header {
	text-align: center;
	padding: 1%;
	background-color: black;
	color: white;
	z-index: 30;
}

header img {
	transition-duration: 0.5s;
}

header img:hover {
	scale: 1.1;
	transition-duration: 0.5s;
}

footer {
	text-align: center;
	padding: 1%;
	background-color: black;
	color: white;
	z-index: 30;
}
