@media screen and (max-width: 800px) {
	* {
		--logo-width: 80%;
		--logo-height: 80%;
		--logo-margin: 15%;

		--button-width: 95%;
		--button-padding: 2%;
		--button-font-size: 3vw;
		--button-margin: 2%;
	}
}
  
@media screen and (min-width: 800px) {
	* {
		--logo-width: 60%;
		--logo-height: 60%;
		--logo-margin: 10%;

		--button-width: 30%;
		--button-padding: 2%;
		--button-font-size: 1.7vw;
		--button-margin: 1%;
	}
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-transform: capitalize;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	caret-color: transparent;
}

body {
	background-color: black;
	overflow: hidden
}

#random-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	outline: none;
	z-index: -3;
	background-color: black;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

#fsee-text {
	margin: var(--logo-margin);
	animation: fadeInAnimationWithScale ease 3s, float 5s ease-in-out infinite;
	animation-fill-mode: forwards;
	animation-delay:0.5s;
	opacity: 0;
	display: block;
	width: var(--logo-width);
	height: var(--logo-height);
	scale: 0;
	margin-left: auto;
	margin-right: auto;
}


@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-40px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeInAnimationWithScale {
	0% {
		opacity: 0;
		scale: 0;
	}
	100% {
		opacity: 1;
		scale: 1;
	}
}

@keyframes fadeInAnimationWithYChange {
	0% {
		opacity: 0;
		transform: translatey(0px)
	}
	100% {
		opacity: 1;
		transform: translatey(-40px)
	}
}

.fancy-button {
	display: inline-block;
	background-image: url(https://i.ibb.co/rb2TWXL/bgbtn.png);
	color: #FFFFFF;
	text-align: center;
	font-size: var(--button-font-size);
	font-family: 'MinecraftiaRegular'; 
	padding: var(--button-padding);
	padding-bottom: 0px;
	width: var(--button-width);
	margin-top: 100px;
	cursor: pointer;
	text-shadow: 4px 4px #4C4C4C;
	outline: 4px solid #000;
	margin: var(--button-margin);
	text-align: center;
	transition-duration: 0.33s;
	opacity: 0; 
	vertical-align:middle; 
	animation: fadeInAnimationWithYChange ease 3s; 
	animation-fill-mode: forwards; 
	display: inline-block; 
}

.fancy-button:hover {
	outline: 4px solid white;
	color: white;
	scale: 1.1;
}
  
.fancy-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.4s;
}
