@font-face {
    font-family: 'MinecraftiaRegular';
    src: url(../assets/fonts/Minecraftia-Regular.ttf);
}

p, h1, h2, h3, h4, h5, h6, pre {
    font-family: 'MinecraftiaRegular';
	color: whitesmoke;
    padding: 0;
}

hr {
    color: whitesmoke;
    margin: 10px;
}